.Footer {
	margin: 0;
	margin-top: 300px;
}

.FooterContentContainer {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

.SocialMediaContainer {
	font-size: 45px;
}

.SocialMedia {
	margin-right: 30px;
}


@media (max-width: 400px) {
	.SocialMediaContainer {
		font-size: 30px;
	}
}